@mixin tipAdding($yPos, $xPos: 6%) {
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 13px;
        height: 13px;
        // border-top: 0px solid #020f1f;
        // border-right: 3px solid #020f1f;
        // border-bottom: 3px solid #020f1f;
        // border-left: 0px solid #020f1f;
        top: $yPos;
        left: $xPos;

        transform: rotate(135deg);
        background-image: linear-gradient(76deg, #020f1f, #0f0d2e);
    }
}

@mixin rectangularBlock($width, $height, $yPos, $xPos: 210px) {
    width: $width;
    height: $height;
    border-radius: 10px;
    background: rgb(12, 53, 71);
    border: 3px solid;
    border-color: rgb(18, 66, 87);
    display: block;
    position: relative;
    top: $yPos;
    left: $xPos;
    z-index: 20001;
    font-size: 95%;
    font-style: italic;
}

@mixin unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@mixin hideSVG {
    svg {
        display: none;
    }
}

@mixin unDraggable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@mixin addPathTrack($position) {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 25%;

        @if $position == "top" {
            transform: rotate(-90deg);
        } @else if $position == "bottom" {
            transform: rotate(90deg);
        } @else if $position == "left" {
            transform: rotate(180deg);
        }

        height: 1rem;
        width: 1rem;

        background-color: black;
        mask-image: url("../../svgs/pathArrow.svg");
        mask-size: cover;
    }
}

// Experimental
/*@mixin addBeforePathTrack($position) {
    // border: none !important;
    position: relative;
    display: block;
    z-index: 0;
    &::before {
        content: "";

        //  display: block;
        position: absolute;
        //z-index: 11 !important;
        height: 25px;
        width: 25px;

        border-top: 4px dashed rgb(0, 0, 0);

        @if $position == "top" {
            transform: rotate(-90deg) translate(50%, 50%);
        } @else if $position == "right" {
            transform: translate(50%, 50%);
        } @else if $position == "bottom" {
            transform: rotate(-90deg) translate(-50%, 50%);
        } @else if $position == "left" {
            transform: translate(-50%, 50%);
        }
    }
}*/
