@import "../abstracts/mixins.scss";
@import "../scssComponants/button.scss";

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

@font-face {
    font-family: circular-book;
    src: url(../../fonts/CircularBook.ttf);
}

@font-face {
    font-family: medieval-book;
    src: url(../../fonts/OldeEnglish.ttf);
}

.dash {
    position: relative;

    z-index: 100;

    display: flex;

    z-index: 5;

    justify-content: space-between;
    align-items: center;

    background-color: rgb(255, 255, 255);

    font-family: circular-book;
    font-size: 1.75rem;
    font-style: italic;

    @include unselectable;

    &__logo-container {
        display: flex;
        align-items: center;
        margin-left: 3rem;
    }

    &__project-name {
        font-size: 4rem;
        font-family: medieval-book;
        color: rgba(134, 18, 18, 0.671);
        margin-right: 1rem;
    }

    &__logo {
        width: 35px;
        height: 35px;
        // fill: green;
    }

    &__list {
        display: flex;
        align-self: stretch;
        margin-right: 3rem;
    }

    &__element {
        display: flex;
        align-items: stretch;
        list-style: none;
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
}
