@import "./abstracts/mixins";

//NavBar + Grid
.container {
    // @include unDraggable;
    display: flex;
    background: white;
}

.grid {
    display: grid;
    /* Important pour faire ma grille */
    grid-template-rows: repeat(29, 25px);
    grid-template-columns: repeat(65, minmax(10px, 25px));

    margin-top: 5rem;
    margin-left: 2.5rem;

    @include unDraggable;
}
