@import "../abstracts/mixins.scss";

$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;

@font-face {
    font-family: medieval-book;
    src: url(../../fonts/OldeEnglish.ttf);
}

@font-face {
    font-family: circular-book;
    src: url(../../fonts/CircularBook.ttf);
}

///////////////////////////
//NAVBAR

.navbar {
    background-image: linear-gradient(76deg, #020f1f, #0f0d2e);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 22.9rem;

    height: 82.4rem;

    // height: -moz-calc(100% - (20px + 30px));
    //height: -webkit-calc(100vh - (20px + 100px));
    //height: calc(100vh - (63px + 10rem)); // for media queries
    //  height: calc(100%- 630px);
}

.side-nav {
    /* display: flex;
    flex-direction: column;
    justify-content: center;*/
    font-size: 1.4rem;
    list-style: none;
    margin-top: 4.5rem;

    &__item {
        margin-bottom: 7.5rem;
        display: flex;
        align-items: center;
        height: 7rem;

        position: relative;

        &:last-child {
            margin-bottom: 2rem;
        }

        //when algo is on progress the hover is at the same color as launch button
        &--nohover::before {
            background-color: var(--color-primary-light-2) !important;
        }

        /* &--maze-button {
            @include tipAdding(3rem, 23.4rem);
        }*/
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-secondary);
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s,
            background-color 0.1s;
    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-secondary-dark);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 1;

        display: flex;
        align-items: center;
    }

    &__icon {
        height: 3rem;
        max-width: 3rem;
        min-width: 3rem;
        margin-right: 2rem;
    }

    &__arrow-icon {
        height: 1.25rem;
        max-width: 1.25rem;
        min-width: 1.25rem;
        margin-left: 1.5rem;
        fill: rgba(128, 128, 128, 0.39);

        &--up {
            transform: rotate(-90deg);
        }
    }

    &__mazetip {
        @include tipAdding(3rem, 23.43rem);
    }

    &__algoname {
    }
}

///////////////////////////
// ALGOLIST + ASTARLIST + MAZELIST

.algo-nav,
.maze-nav,
.astar-nav {
    background-image: linear-gradient(76deg, #020f1f, #0f0d2e);
    //height: 44rem;
    width: 22.8rem;

    position: absolute;
    top: 0;
    right: -24rem;

    z-index: 1;
}

.maze-nav {
    overflow-y: scroll;

    height: 44rem;

    &--closed {
        display: none;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(184, 179, 179, 0.685);
    }

    &::-webkit-scrollbar-thumb {
        //#226f91;
        //  -webkit-border-radius: 10px;
        //  border-radius: 10px;
        background-color: var(--color-secondary-dark);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background-color: #226f91;
    }
}

.algo-list,
.astar-list,
.maze-list {
    font-size: 1.4rem;
    list-style: none;
    //margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include tipAdding(3rem, -0.7rem);

    &--closed {
        display: none;
    }

    &__item {
        align-self: stretch;
        position: relative;
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-secondary);
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
            background-color 0.1s;
    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-secondary-dark);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 1;
    }

    &__arrow-icon {
        height: 1.25rem;
        max-width: 1.25rem;
        min-width: 1.25rem;
        position: absolute;
        right: 2.5rem;
        top: 2rem;
        fill: rgba(128, 128, 128, 0.39);

        &--up {
            transform: rotate(-90deg);
        }
    }
}

.astar-list {
    @include tipAdding(2.5rem, -0.7rem);
}

///////////////////////////
// MAZELIST

////////////////////////
// LEGAL

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 1.5rem;
}
