@keyframes addKnight {
    0% {
    }

    25% {
        transform: scale(0.5);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes addPrincess {
    0% {
    }

    25% {
        transform: scale(0.5);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes addWalls {
    0% {
        //  transform: scale(0.5);
        background-color: rgb(37, 82, 102);
    }

    25% {
        transform: scale(1.1);
        background-color: rgb(31, 72, 90);
    }

    75% {
        transform: scale(0.98);
        background-color: rgb(27, 65, 82);
        background: rgb(16, 46, 131);
    }

    100% {
        transform: scale(1);
        background-color: rgb(12, 53, 71);
    }
}

@keyframes addWallsAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgb(12, 53, 71);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(12, 53, 71);
        background: rgb(16, 46, 131);
    }
    100% {
        transform: scale(1);
        background-color: rgb(12, 53, 71);
    }
}

@keyframes addWeights {
    50% {
        transform: scale(1.2);
        //background-color: rgb(12, 53, 71);
    }

    100% {
        transform: scale(1);
        //background-color: rgb(12, 53, 71);
    }
}

@keyframes addShortcuts {
    50% {
        transform: scale(1.2);
        //background-color: rgb(12, 53, 71);
    }

    100% {
        transform: scale(1);
        //background-color: rgb(12, 53, 71);
    }
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(17, 104, 217, 0.75);
    }

    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(0, 190, 218, 0.75);
    }
}

// IDA* + IDDFS
@keyframes revisitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(52, 3, 56, 0.75);
        //   border-radius: 100%;
    }

    50% {
        background-color: rgba(88, 6, 95, 0.75);
    }

    75% {
        transform: scale(1.2);
        background-color: rgba(92, 4, 165, 0.74);
    }

    100% {
        transform: scale(1);
        background-color: rgba(114, 10, 233, 0.75);
    }
}

@keyframes shortestPath {
    0% {
        transform: scale(0.4);
        background-color: #9c191e;
        border-radius: 100%;
    }

    50% {
        transform: scale(0.8);
        background-color: rgba(24, 15, 136, 0.75);
        border: 1px solid rgba(24, 15, 136, 0.75);
    }

    75% {
        transform: scale(1.3);
        background-color: rgba(0, 217, 159, 0.75);
        border: 1px solid rgba(0, 217, 159, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(180, 18, 18, 0.911);
        border: 1px solid rgb(180, 16, 18);
    }
}

// MAZE ANIMATIONS

@keyframes addAnimatedPathBacktrackingMaze {
    0% {
        transform: scale(1.2);
        background-color: #6e1181;
        //border-radius: 100%;
    }

    50% {
        transform: scale(1.1);
        background-color: #6e1181;
    }

    99% {
        transform: scale(1.05);
        background-color: #6e1181;
    }

    100% {
        transform: scale(1);
        background-color: #ffffff;
        //border: 1px solid rgb(200, 205, 223);
    }
}

@keyframes addAnimatedPathKruskul {
    0% {
        transform: scale(1.2);
        background-color: #215796;
        //border-radius: 50%;
    }

    50% {
        transform: scale(1.1);
        background-color: #215796;
    }

    99% {
        transform: scale(1.05);
        background-color: #215796;
    }

    100% {
        transform: scale(1);
        background-color: #ffffff;
        //border: 1px solid rgb(200, 205, 223);
    }
}

@keyframes addAnimatedPathPrim {
    0% {
        transform: scale(1.2);
        background-color: #21965b;
        //border-radius: 100%;
        //transform: rotate(0.25turn);
        //border-radius: 100%;
    }

    50% {
        transform: scale(1);
        background-color: #0a4226;
        //transform: rotate(0.25turn);
    }

    99% {
        transform: scale(1.05);
        //transform: rotate(0.25turn);
        background-color: #032212;
        //background: rgb(16, 46, 131);
    }

    100% {
        transform: scale(1);
        //transform: rotate(0.25turn);
        background-color: #ffffff;
        //border: 1px solid rgb(200, 205, 223);
    }
}

@keyframes addAnimatedPathGrowingTree {
    0% {
        transform: scale(1.2);
        background-color: #7e2c8f;
        //border-radius: 100%;
        //transform: rotate(0.25turn);
        //border-radius: 100%;
    }

    50% {
        transform: scale(1);
        background-color: #4f165a;
        //transform: rotate(0.25turn);
    }

    99% {
        transform: scale(1.05);
        //transform: rotate(0.25turn);
        background-color: #1f0524;
        //background: rgb(16, 46, 131);
    }

    100% {
        transform: scale(1);
        //transform: rotate(0.25turn);
        background-color: #ffffff;
        //border: 1px solid rgb(200, 205, 223);
    }
}

@keyframes addHuntScans {
    from {
        background-color: transparent;
    }
    50% {
        background-color: #f2e68e;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes addWallScan1 {
    from {
        background-color: rgb(12, 53, 71);
    }
    50% {
        background-color: rgb(171, 173, 24);
    }
    100% {
        background-color: rgb(12, 53, 71);
    }
}

@keyframes addPassageScan1 {
    from {
        background-color: #0f5a22;
    }
    50% {
        background-color: rgb(171, 173, 24);
    }
    100% {
        background-color: #0f5a22;
    }
}

@keyframes addWallScan2 {
    from {
        background-color: rgb(12, 53, 71);
    }
    50% {
        background-color: rgb(171, 173, 24);
    }
    100% {
        background-color: rgb(12, 53, 71);
    }
}

@keyframes addPassageScan2 {
    from {
        background-color: #0f5a22;
    }
    50% {
        background-color: rgb(171, 173, 24);
    }
    100% {
        background-color: #0f5a22;
    }
}

@keyframes addHuntAndKill {
    0% {
        background-color: #0f5a225d;
    }
    50% {
        background-color: #0f5a22b6;
    }
    100% {
        background-color: #0f5a22;
    }
}

@keyframes addWilson {
    0% {
        transform: scale(0.5);
        background-color: rgba(189, 164, 22, 0.5);
    }
    35% {
        background: rgb(192, 192, 192);
    }
    50% {
        transform: scale(1.2);
        background-color: rgba(180, 156, 21, 0.733);
        //background: rgb(192, 192, 192);
        //background: rgb(16, 46, 131);
    }
    100% {
        transform: scale(1);
        background-color: rgb(173, 151, 22);
    }
}

@keyframes addEller {
    0% {
        background-color: #c47f2f34;
    }
    50% {
        background-color: #c4662f81;
        background: #c45e2f;
    }
    75% {
        background-color: #c4522fbb;
        background: #c45e2f;
    }
    100% {
        background-color: #c45e2f;
    }
}

@keyframes addRecursiveDivision {
    0% {
        transform: scale(1.2);
        background-color: rgb(37, 82, 102);
    }

    25% {
        transform: scale(1.1);
        background-color: rgb(31, 72, 90);
    }

    75% {
        transform: scale(0.98);
        background-color: rgb(27, 65, 82);
        background: rgb(16, 46, 131);
    }

    100% {
        transform: scale(1);
        background-color: rgb(12, 53, 71);
    }
}

@keyframes addAldousBroder {
    0% {
        transform: scale(1.2);
        background-color: #215796;
    }

    25% {
        transform: scale(1.1);
        background-color: #215796;
    }

    75% {
        transform: scale(0.98);
        background-color: #215796;
        background: rgb(16, 46, 131);
    }

    100% {
        transform: scale(1);
        background-color: #215796;
    }
}

@keyframes addAldousBroder2 {
    0% {
        transform: scale(1.2);
        background-color: #215796;
    }

    25% {
        transform: scale(1.1);
        background-color: #215796;
    }

    75% {
        transform: scale(0.98);
        background-color: #215796;
        background: rgb(16, 46, 131);
    }

    100% {
        transform: scale(1);
        background-color: #215796;
    }
}

@keyframes addSideWinderMaze {
    0% {
        //  transform: scale(0.3);
        background-color: rgba(41, 4, 24, 0.75);
        //  border-radius: 100%;
    }
    50% {
        background-color: rgba(97, 0, 20, 0.75);
    }

    75% {
        transform: scale(1.1);
        background-color: rgba(216, 5, 141, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(76, 20, 116, 0.75);
    }
}

@keyframes addBinaryTreeMaze {
    0% {
        //  transform: scale(0.3);
        background-color: rgba(102, 220, 224, 0.75);
        //  border-radius: 100%;
    }
    50% {
        background-color: rgba(22, 112, 116, 0.75);
    }

    75% {
        // transform: scale(1.1);
        background-color: rgba(18, 99, 102, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgb(12, 81, 83);
    }
}

////////////////////////////
// TEST EFFECT

@keyframes addTestEffect {
    0% {
        transform: scale(0.9) rotate(45deg);
        // transform: rotate(45deg);
    }

    25% {
        transform: scale(1) rotate(90deg);
        //   transform: rotate(90deg);
    }

    50% {
        transform: scale(1.1) rotate(135deg);
        //   transform: rotate(135deg);
    }

    75% {
        transform: scale(1.1) rotate(225deg);
        //   transform: rotate(180deg);
    }

    100% {
        transform: scale(0.9) rotate(45deg);
        //  transform: rotate(45deg);
    }
}

@keyframes addTestEffect2 {
    0% {
        transform: rotate(-45deg);
    }

    25% {
        transform: rotate(-90deg);
    }

    75% {
        transform: rotate(-225deg);
    }

    85% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

//////////////////////
// LEGEND ANIMATION

@keyframes growUp {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes disappear {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

////////////////////
// TUTORIAL ANIMATION

@keyframes tutorialDisappear {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes tutorialAppear {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

////////////////////////
// OPTION BOX ANIMATION

@keyframes rotatingWheel {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes colorChanging {
    0% {
        background-image: linear-gradient(
            to right,
            rgb(133, 36, 36),
            rgb(18, 112, 15)
        );
    }

    50% {
        background-image: linear-gradient(
            to right,
            rgb(133, 115, 36),
            rgb(15, 112, 107)
        );
    }

    100% {
        background-image: linear-gradient(
            to right,
            rgb(180, 170, 30),
            rgb(89, 15, 112)
        );
    }
}

////////////////////////////////
// Option Wheel

@keyframes wheelStart {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}

/////////////////////////////////
// Content box animation

@keyframes optionStart {
    0% {
        transform: translate(-35%, -60%) scale(0.3);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes optionEnd {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, -60%) scale(0);
    }
}
