.secondary-heading {
    transition: all 0.2s;

    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;

    &:hover {
        transform: skewY(2deg) skewX(15deg);
        text-shadow: var(--shadow-dark);
    }
}
